<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<title th:remove="all">Order Confirmation</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
	<div>
		<h1>
			Emprestimo número: <span th:text="${emprestimo.id_emprestimo}"> </span>
		</h1>
		<p>
			Data do emréstimo: <span
				th:text="${#dates.format(emprestimo.instante, 'dd/MM/yyyy hh:mm')}"></span>
		</p>
		
		<p>
			Data de devolução: <span
				th:text="${#dates.format(emprestimo.datadeEntrega, 'dd/MM/yyyy hh:mm')}"></span>
		</p>
		<p>
			Cliente: <span th:text="${emprestimo.cliente.nome}"></span>
		</p>
	
		<h3>Detalhes do empréstimo:</h3>
		<table border="1">
			<tr>
				<th>Livro</th>
				<th>Quantidade</th>
				
			</tr>
			<tr th:each="item : ${livro.itens}">
				<td th:text="${item.livro.nome}">nome</td>
				<td th:text="${item.quantidade}">quantidade</td>
				
	</div>
</body>
</html>